# macOS
.DS_Store

# Node modules
node_modules/

# Vercel/Next.js build output
.next/
out/

# Env-Dateien (API-Keys, Tokens usw.)
.env
.env.local
.env.*.local

# Logfiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optionaler Editor-Kram
.vscode/
.idea/
*.swp